html, body, #app{
  height: 100%;
  margin: 0;
  padding: 0;
  /* 此宽度是在1366*768的分辨率下，从F12查看中查看到html元素宽度*/
  min-width: 1349px;
}
.el-breadcrumb{
  margin-bottom: 15px;
  font-size: 13px;
}
.el-card{
  box-shadow: 0 0 2px #ddd !important;
}
.el-table{
  margin-top: 10px;
  font-size: 12px;
}
.el-pagination{
  margin-top: 15px;
}
/* 垂直居中 */
.vcenter{
  display: flex;
  align-items: center;
}
/* elementui confirm 按钮样式 */
.btn-custom-cancel {
  float: right;
  margin-left: 10px !important;
}
/* 解决权限展开列无法设置 padding-left的问题 */
/* 别人项目里css库里这个样式就生效 */
/* 我的项目里，这个样式就被来源未知的css给覆盖了 */
/* 只能手动写下 */
.el-table__expanded-cell[class*='cell'] {
  padding: 20px 50px;
}